body {
   font-family: "Roboto", Arial, sans-serif;
   margin: 0;
   padding: 15px;
   background-image: conic-gradient(purple, blue, indigo);
   text-align: center;
}

#wrapper{
   max-width: 860px;
   margin: 0 auto;
   padding: 20px;
}
form {
   margin: 0 auto;
   max-width: 400px;
   background-color: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   text-align: center;
}
header {
    text-align: center;
    margin-bottom: 40px;
}
header h1 {
   font-size: 2rem;
   color: #444;
   font-weight: bold;
   margin-bottom: 20px;
   margin-top: 20px;
}
.ctxgroup {
   margin-bottom: 15px;
}
.ctxlabel{
   display:block;
   margin-bottom: 8px;
   font-weight: bold;
   color: #444;
   text-align: center;
   margin-top: 20px;
}
.form-input {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 1rem;
   box-sizing: border-box;
}
.form-input:focus {
   border-color: #66afe9;
   outline: none;
   box-shadow: 0 0 5px rgba(103, 176, 233, 0.5);
}
/*Button Animation */
.signup-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    padding: 15px 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    width: 100%;
    max-width: 200px;
    position: relative;
}


.signup-button:hover {
    padding-right: 35px;
}

.signup-button:hover:after {
    content: '\00bb'; 
    position: absolute;
    top: 0;
    right: 15px;
    transition: opacity 0.5s;
    opacity: 1;
}

.signup-button:after {
    content: '\00bb';
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

footer{
   text-align: center;
   margin-top: 20px;
}

#vg {
   width: 300px;
   height: auto;
   margin: 0 auto;
   display: block;
}


/* ===== STATE STYLES ======= */
@media (max-width: 600px) {
   form {
      padding: 15px;
   }
   input[type="text"], input[type="email"], input[type="submit"], textarea {
      padding: 12px;
      font-size: 14px;
   }
}
